@import "tailwindcss";

@font-face {
    font-family: 'Playball';
    src: url('./assets/fonts/Playball.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 .playball {
    font-family: 'Playball', sans-serif;
 }

 @font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

.inter {
  font-family: 'Inter', sans-serif;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1.2s ease-out forwards;
}
